@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #03989e;
}

body {
  background: linear-gradient(135deg, var(--color-primary) 0%, #0e7490 100%);
  color: #222;
}
